{% load crispy_forms_tags %}
{% load static %}

<!-- Assign Leader Modal -->
<div id="add_project_assignee_model" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="addModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Assign <span class="text-primary">{{project_id.project_name}} project</span> member</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'AdminAddProjectAssignee' id=project_id.id %}" method="post" id="form">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group m-b-30">
                        <input placeholder="Search to add a leader" class="form-control search-input" type="text">
                        <span class="input-group-append">
                            <button class="btn btn-primary">Search</button>
                        </span>
                    </div>
                    <div class="form-group">
                        {{ form.assignee_type|as_crispy_field }}
                    </div>
                    <div class="overflow-auto">
                        {{ form.employees|as_crispy_field }}
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Assign Leader Modal -->