{% extends 'admin/base.html' %}
{% load static %}
{% block body %}
{% block nav %}{% include 'admin/navigationpanel.html' %}{% endblock nav %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
					{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
					{% endfor %}
				</div>
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Attendance</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Attendance</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Search Filter -->
					<div class="row filter-row">
						<div class="col-sm-6 col-md-2">
							<div class="form-group form-focus">
								<input type="text" class="form-control floating" id="emp_name_search">
								<label class="focus-label">Employee Name</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">
							<div class="form-group form-focus">
								<input type="text" class="form-control floating" id="designation_search">
								<label class="focus-label">Designation / Technology</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">
							<div class="form-group form-focus">
								<input type="text" class="form-control floating" id="department_search">
								<label class="focus-label">Department</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-1">
							<div class="form-group form-focus select-focus">
								<select class="form-control floating" id="day_search">
									<option value="">---</option>
									{% for i in day_range %}
									<option>{{i}}</option>
									{% endfor %}
								</select>
								<label class="focus-label">Select Day</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">
							<div class="form-group form-focus select-focus">
								<select class="form-control floating" id="month_search">
									<option value="">---</option>
									<option value="Jan">January</option>
									<option value="Feb">February</option>
									<option value="Mar">March</option>
									<option value="Apr">April</option>
									<option value="May">May</option>
									<option value="Jun">June</option>
									<option value="Jul">July</option>
									<option value="Aug">Auguste</option>
									<option value="Sep">September</option>
									<option value="Oct">October</option>
									<option value="Nov">November</option>
									<option value="Dec">December</option>
								</select>
								<label class="focus-label">Select Month</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-1">
							<div class="form-group form-focus select-focus">
								<select class="form-control floating" id="year_search">
									<option value="">---</option>
									{% for i in year_range %}
									<option>{{i}}</option>
									{% endfor %}
								</select>
								<label class="focus-label">Select Year</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">
							<div class="form-group form-focus select-focus">
								<select class="form-control" id="attendance_status_search">
									<option value="">---</option>
									<option>Present</option>
									<option>Half Day</option>
									<option>Absent</option>
								</select>
								<label class="focus-label">Attendance Status</label>
							</div>
						</div>
                    </div>
					<!-- /Search Filter -->
					
                    <div class="row">
                        <div class="col-lg-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table" id="attendance_list_table">
									<thead>
										<tr>
											<th>Name</th>
											<th hidden>Day</th>
											<th hidden>Month</th>
											<th hidden>Year</th>
											<th>Date</th>
											<th>Punch In</th>
											<th>Punch Out</th>
											<th>Production Time</th>
											<th>Mobile</th>
											<th>Department</th>
											<th class="text-center">Attendance</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
									{% for attendee in attendances %}
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'AdminProfileView' attendee.attendee_user.id %}"><img class="avatar" alt="" src="{{attendee.attendee_user.avatar.url}}"></a>
													<a href="{% url 'AdminProfileView' attendee.attendee_user.id %}">{{attendee.attendee_user.username}} <span>{{attendee.attendee_user.designation}} | {{attendee.attendee_user.technology}}</span></a>
												</h2>
											</td>
											<td hidden>{{attendee.date|date:'j'}}</td>
											<td hidden>{{attendee.date|date:'M'}}</td>
											<td hidden>{{attendee.date|date:'Y'}}</td>
											<td>{{attendee.date|date:'j - M - Y'}}</td>
											<td>{{attendee.check_in_time|date:'h : i A'}}</td>
											<td>{{attendee.check_out_time|date:'h : i A'}}</td>
											<td>{{attendee.production_hour|date:'H : i A'}}</td>
											<td>{{attendee.attendee_user.phone}}</td>
											<td>{{attendee.attendee_user.department}}</td>
											<td class="text-center">
												<p><i class="fa fa-dot-circle-o mr-1 {% if attendee.attendance_status == 'Present' %}text-success{% elif attendee.attendance_status == 'Half Day' %}text-warning{% else %}text-danger{% endif %}"></i> {{attendee.attendance_status}}</p>
											</td>
											<td>
												<button class="p-0 ml-4 text-info border-0 " onclick="editAttendance({{attendee.id}})">Edit</button>
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
                        </div>
                    </div>
                </div>
				<!-- /Page Content -->

				<div id="edit-attendance-form"></div>
				
            </div>
			<!-- Page Wrapper -->

<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function () {
	var table = $('#attendance_list_table').DataTable({
		dom: 'Blrtip',
	});
	$('#emp_name_search').on('keyup', function () {
		table.column(0).search(this.value).draw();
	});
	 $('#designation_search').on('keyup', function () {
		table.column(0).search(this.value).draw();
	});
	 $('#attendance_status_search').on('change', function () {
		table.column(7).search(this.value).draw();
	});
	 $('#department_search').on('keyup', function () {
		table.column(6).search(this.value).draw();
	});
	$('#year_search').on('change', function () {
		table.column(3).search(this.value).draw();
	});
	 $('#month_search').on('change', function () {
		table.column(2).search(this.value).draw();
	});
	 $('#day_search').on('change', function () {
		table.column(1).search(this.value).draw();
	});

});



function editAttendance(editAttendanceId) {
    $.ajax({
        url: "edit/"+ editAttendanceId + "/",
        success: function(response) {
            $("#edit-attendance-form").html(response);
            $("#edit_attendance_model").modal('show');
        }
    });
}

window.setTimeout(function() {
	$(".alert").fadeTo(500, 0).slideUp(500, function(){
		$(this).remove();
	});
}, 1700);
</script>

{% endblock body %}