{% extends 'admin/base.html' %}
{% load static %}
{% block head %}

<style>
    .summary-wrap {
        overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 4;
               line-clamp: 4;
       -webkit-box-orient: vertical;
    }


</style>

{% endblock head %}
{% block body %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
					{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
					{% endfor %}
				</div>
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Profile</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Profile</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="card mb-0">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="profile-view">
										<div class="profile-img-wrap">
											<div class="profile-img">
												<img class="avatar" src="{{client.client_avatar.url}}" alt="Client Profile Image">
											</div>
										</div>
										<div class="profile-basic">
											<div class="row ml-2">
												<div class="col-md-5">
													<div class="profile-info-left">
														<h2 class="user-name m-t-0">{{client.company_name}}</h2>
														<h4 class="company-role m-t-0 mb-1">Name : {{client.username}}</h4>
														<div>Designation : {{client.position}}</div>
														<div>Nationality : {{client.nationality}}</div>
														<div>Status : {% if client.active_status == True %}<span style="color:green"> Active </span>{% else %}<span style="color:red">Deactivate</span>{% endif %}</div>
													</div>
												</div>
												<div class="col-md-7">
													<ul class="personal-info">
														<li>
															<span class="title">Phone :</span>
															<span class="text"><a href="">{{client.phone}}</a></span>
														</li>
														<li>
															<span class="title">Email :</span>
															<span class="text"><a href="">{{client.email}}</a></span>
														</li>
														<li>
															<span class="title">Birthday :</span>
															<span class="text">{{client.dob|date:'d F Y'}}</span>
														</li>
														<li>
															<span class="title">Address :</span>
															<span class="text">{{client.address}}</span>
														</li>
														<li>
															<span class="title">Gender :</span>
															<span class="text">{{client.gender}}</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="pro-edit">
											<button class="edit-icon" onclick="editClientInfo({{client.id}})"><i class="fa fa-pencil"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

                    <div class="row">
                        <div class="col-lg-12">
							<div class="tab-content profile-tab-content">
								<!-- Projects Tab -->
									<div class="row">
										{% for client_project in client_project_list %}
										<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
											<div class="card">
												<div class="card-body">
													<div class="dropdown profile-action">
														<button class="dropdown-item px-1 py-0 rounded d-sm-block text-center text-danger" onclick="deleteProject({{client_project.id}},{{client.id}})"><i class="las la-lg la-trash"></i></button>
													</div>
													<h4 class="project-title"><a href="{% url 'AdminProjectDetailsView' client_project.id %}">{{client_project.project_name}}</a>
													</h4>
													<small class="block text-ellipsis m-b-15">
														<span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
														<span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
													</small>
													<p class="text-muted summary-wrap">{{client_project.project_summary}}</p>
													<div class="pro-deadline m-b-15 mt-4">
														<div class="sub-title">
															Deadline:
														</div>
														<div class="text-muted">
															{{client_project.project_end_date|date:'j - F - Y'}}
														</div>
													</div>
													<!--									<p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>-->
													<!--									<div class="progress progress-xs mb-0">-->
													<!--										<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="40%" style="width: 40%"></div>-->
													<!--									</div>-->
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<!-- /Projects Tab -->

								<!-- Delete Project Modal -->
								<div class="modal custom-modal fade" id="delete_project_model" role="dialog">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-body">
												<div class="form-header">
													<h3>Delete Project</h3>
													<p>Are you sure want to delete?</p>
												</div>
												<div class="modal-btn delete-action">
													<div class="row">
														<div class="col-6">
															<a class="btn btn-primary continue-btn" href="#" id="confirmDeleteBtn">Delete</a>
														</div>
														<div class="col-6">
															<a class="btn btn-primary cancel-btn" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Delete Project Modal -->
								
							</div>
						</div>
					</div>
				</div>
				<!-- /Page Content -->

				<div id="edit-client-info-form"></div>

<script>

	function editClientInfo(ClientId) {
        $.ajax({
            url: "{% url 'AdminEditClientInfo' id=0 %}".replace(0, ClientId),
            success: function(response) {
                $("#edit-client-info-form").html(response);
                $("#edit_client_info_model").modal('show');
            }
        });
    }

    function deleteProject(deleteProjectId, UserId) {
        $("#delete_project_model").modal('show');
        if (deleteProjectId) {
            var deleteUrl = "{% url 'AdminClientDeleteProject' id=0 user_id=1 %}".replace(0, deleteProjectId).replace(1, UserId);
            $("#confirmDeleteBtn").attr("href", deleteUrl);
        }
    }

    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1600);
</script>

{% endblock body %}