{% extends 'admin/base.html' %}
{% load static %}
{% block body %}
{% block nav %}{% include 'admin/navigationpanel.html' %}{% endblock nav %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
				{% endfor %}
        	</div>

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Conditions & Rules</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'AdminIndex' %}">Dashboard</a></li>
									<li class="breadcrumb-item active">Conditions</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button class="btn add-btn" onclick="addCondition()"><i class="fa fa-plus"></i> Add Condition</button>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0" id="condition_table">
									<thead>
										<tr>
											<th>Sr NO</th>
											<th>Condition Title </th>
											<th>Conditional Amount </th>
											<th>Created Date</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for condition in conditions %}
										<tr class="holiday-upcoming">
											<td>{{forloop.counter}}</td>
											<td>{{condition.condition_title}}</td>
											{% if condition.conditional_object %}
											<td>{{condition.conditional_amount}} {{condition.conditional_object}}</td>
											{% else %}
											<td>{{condition.conditional_amount}}</td>
											{% endif %}
											<td>{{condition.condition_create_date|date:"j - F - Y"}}</td>
											<td class="text-center">
												<div class="d-flex justify-content-around">
													<button class="p-0 ml-4 text-info border-0 " onclick="editCondition({{condition.id}})">Edit</button>
													<button class="p-0 ml-4 text-danger border-0 " onclick="deleteCondition({{condition.id}})">Delete</button>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->


				<div id="add-condition-form"></div>

				<div id="edit-condition-form"></div>


				<!-- Delete Holiday Modal -->
				<div class="modal custom-modal fade" id="delete_condition_model" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Holiday</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a id="confirmDeleteBtn" href="#" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Holiday Modal -->
            </div>
			<!-- /Page Wrapper -->

<script>
function addCondition() {
    $.ajax({
        url: "{% url 'AdminAddCondition' %}",
        success: function(response) {
            $("#add-condition-form").html(response);
            $("#add_condition_model").modal('show');
        }
    });
}
function editCondition(editConditionID) {
    $.ajax({
        url: "edit/" + editConditionID,
        success: function(response) {
            $("#edit-condition-form").html(response);
            $("#edit_condition_model").modal('show');
        }
    });
}

function deleteCondition(deleteConditionId) {
    $("#delete_condition_model").modal('show');
    if (deleteConditionId) {
        var deleteUrl = "{% url 'AdminDeleteCondition' id=0 %}".replace(0, deleteConditionId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}

</script>
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function () {
	var table = $('#condition_table').DataTable({
		dom: 'Blrtip',
	});
});

window.setTimeout(function() {
	$(".alert").fadeTo(500, 0).slideUp(500, function(){
		$(this).remove();
	});
}, 1700);
</script>

{% endblock body %}
