{% extends 'admin/base.html' %}
{% load static %}
{% block body %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Department</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Department</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button class="btn add-btn" onclick="addDepartment()"><i class="fa fa-plus"></i> Add Department</button>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th style="width: 100px;">Sr No</th>
											<th>Department Name</th>
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for department in departmentlist %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{department.department_name}}</td>
											<td class="text-right">
                                            <div class="d-flex justify-content-end">
												<button class="p-0 ml-4 text-info border-0 " onclick="editDepartment({{department.id}})">Edit</button>
												<button class="p-0 ml-4 text-danger border-0 " onclick="deleteDepartment({{department.id}})">Delete</button>
											</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<div id="add-department-form"></div>

				<div id="edit-department-form"></div>

				<!-- Delete Department Modal -->
				<div class="modal custom-modal fade" id="delete_department_model" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Department</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a id="confirmDeleteBtn" href="#" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Department Modal -->
            </div>
			<!-- /Page Wrapper -->

<script>
function addDepartment() {
    $.ajax({
        url: "{% url 'AdminAddDepartment' %}",
        success: function(response) {
            $("#add-department-form").html(response);
            $("#add_department_model").modal('show');
        }
    });
}
function editDepartment(editDepartmentId) {
    $.ajax({
        url: "department/update/"+ editDepartmentId,
        success: function(response) {
            $("#edit-department-form").html(response);
            $("#edit_department_model").modal('show');
        }
    });
}

function deleteDepartment(deleteDepartmentId) {
    $("#delete_department_model").modal('show');
    if (deleteDepartmentId) {
        var deleteUrl = "{% url 'AdminDeleteDepartment' id=0 %}".replace(0, deleteDepartmentId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}

</script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1600);
</script>
		
{% endblock body %}