{% extends 'admin/base.html' %}
{% load static %}
{% block body %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Designations</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Designations</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button class="btn add-btn" onclick="addDesignation()"><i class="fa fa-plus"></i> Add Designation</button>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th style="width: 30px;">Sr No</th>
											<th>Designation </th>
											<th>Department </th>
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for designation in designationlist %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{designation.designation_name}}</td>
											<td>{{designation.department}}</td>
											<td class="text-right">
                                            <div class="d-flex justify-content-end">
												<button class="p-0 ml-4 text-info border-0 " onclick="editDesignation({{designation.id}})">Edit</button>
												<button class="p-0 ml-4 text-danger border-0 " onclick="deleteDesignation({{designation.id}})">Delete</button>
											</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

				<div id="add-designation-form"></div>

				<div id="edit-designation-form"></div>

				<!-- Delete Designation Modal -->
				<div class="modal custom-modal fade" id="delete_designation_model" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Designation</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a id="confirmDeleteBtn" href="#" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Designation Modal -->
            </div>
			<!-- /Page Wrapper -->

<script>
function addDesignation() {
    $.ajax({
        url: "{% url 'AdminAddDesignation' %}",
        success: function(response) {
            $("#add-designation-form").html(response);
            $("#add_designation_model").modal('show');
        }
    });
}
function editDesignation(editDesignationId) {
    $.ajax({
        url: "designation/update/"+ editDesignationId,
        success: function(response) {
            $("#edit-designation-form").html(response);
            $("#edit_designation_model").modal('show');
        }
    });
}

function deleteDesignation(deleteDesignationId) {
    $("#delete_designation_model").modal('show');
    if (deleteDesignationId) {
        var deleteUrl = "{% url 'AdminDeleteDesignation' id=0 %}".replace(0, deleteDesignationId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}

</script>

{% endblock body %}