{% load crispy_forms_tags %}
{% load static %}

<!-- Edit InterviewQuestion Modal -->
<div aria-hidden="true" aria-labelledby="editModelToggleLabel" class="modal fade" id="edit_interview_question_model" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit InterviewQuestion</h3>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'AdminEditInterviewQuestion' id=edit_interview_question.id %}" enctype="multipart/form-data" id="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.question|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.answer|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.option_a|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.option_b|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.option_c|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.option_d|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.technology|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.department|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit InterviewQuestion Modal -->
