{% load crispy_forms_tags %}
{% load static %}


<!-- Edit Project Modal -->
<div id="edit_project_model" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="editModelToggleLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Project</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'AdminUpdateProject' id=edit_project.id %}" id="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.project_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.project_client_name|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.project_start_date|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.project_end_date|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.project_cost|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.project_priority|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.project_summary|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.project_image|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.project_file|as_crispy_field }}
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Project Modal -->