{% load crispy_forms_tags %}
{% load static %}

<!-- Experience Modal -->
<div class="modal custom-modal fade" id="edit_experience_info_model" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="editModelToggleLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Experience Informations</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'AdminEditExperienceInfo' user_id edit_experience_info.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.company_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.location|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.role|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.start_date|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.end_date|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <a href="{% url 'AdminDeleteExperienceInfo' id=user_id exp_id=edit_experience_info.id %}" class="btn btn-danger submit-btn mr-5">Delete</a>
                        <button class="btn btn-primary submit-btn ml-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Experience Modal -->