{% extends 'admin/base.html' %}
{% load static %}
{% block head %}

<style>
    .summary-wrap {
        overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 1;
               line-clamp: 1;
       -webkit-box-orient: vertical;
    }


</style>

{% endblock head %}
{% block body %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="show_message">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome, {{user.username}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{project_list.count}}</h3>
                            <span>Projects</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{client_list.count}}</h3>
                            <span>Clients</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{interviewer_list.count}}</h3>
                            <span>Interview Candidate</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{users.count}}</h3>
                            <span>Employees</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header d-flex justify-content-between">
                        <a class="card-title mb-0" href="{% url 'AdminClientsView' %}">Clients</a>
                        <h3 class="card-title mb-0">{{client_list.count}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in client_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'AdminClientDetailView' client.id %}"><img class="avatar" alt="Client Profile Photo" src="{{client.client_avatar.url}}"></a>
                                            <a href="{% url 'AdminClientDetailView' client.id %}">{{client.username}} <span>{{client.position}}</span></a>
                                        </h2>
                                    </td>
                                    <td>{{client.email}}</td>
                                    <td>
                                        {% if client.active_status == True %}<i class="fa fa-dot-circle-o text-success"></i> Active {% else %}<i class="fa fa-dot-circle-o text-danger"></i> Inactive {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header d-flex justify-content-between">
                        <a class="card-title mb-0" href="{% url 'AdminProjectsView' %}">Recent Projects</a>
                        <h3 class="card-title mb-0">{{project_list.count}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Client Name</th>
                                    <th>Project Name</th>
                                    <th>Project Statuse</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in project_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'AdminClientDetailView' project.project_client_name.id %}"><img class="avatar" alt="Client Profile Photo" src="{{project.project_client_name.client_avatar.url}}"></a>
                                            <a href="{% url 'AdminClientDetailView' project.project_client_name.id %}">{{project.project_client_name.username}} <span>{{project.project_client_name.position}}</span></a>
                                        </h2>
                                    </td>
                                    <td>
                                        <h2><a href="{% url 'AdminProjectDetailsView' project.id %}">{{project.project_name}}</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>1</span> <span class="text-muted">open tasks, </span>
                                            <span>9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <i class="fa fa-dot-circle-o {% if project.project_status == 'On Track' %}text-info{% elif project.project_status == 'Postponed' %}text-warning{% elif project.project_status == 'Finished' %}text-success{% else %}text-danger{% endif %}"></i> {{project.project_status}}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header d-flex justify-content-between">
                        <a class="card-title mb-0" href="{% url 'AdminLeaveList' %}">Leaves</a>
                        <h3 class="card-title mb-0">{{new_leaves_list.count}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leaves in new_leaves_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'AdminClientDetailView' leaves.leave_user.id %}"><img class="avatar" alt="Client Profile Photo" src="{{leaves.leave_user.avatar.url}}"></a>
                                            <a href="{% url 'AdminClientDetailView' leaves.leave_user.id %}">{{leaves.leave_user.username}} <span>{{leaves.leave_user.designation}} | {{leaves.leave_user.technology}}</span></a>
                                        </h2>
                                    </td>
                                    <td class="text-right">
                                        <i class="fa fa-dot-circle-o text-info"></i> {{leaves.leave_status}}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header d-flex justify-content-between">
                        <a class="card-title mb-0" href="{% url 'AdminTicketList' %}">Tickets</a>
                        <h3 class="card-title mb-0">{{new_ticket_list.count}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Ticket Title</th>
                                    <th>Ticket Generator Name</th>
                                    <th>Ticket Priority</th>
                                    <th>Ticket Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ticket in new_ticket_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'AdminClientDetailView' ticket.ticket_user.id %}"><img class="avatar" alt="Client Profile Photo" src="{{ticket.ticket_user.avatar.url}}"></a>
                                            <a href="{% url 'AdminClientDetailView' ticket.ticket_user.id %}">{{ticket.ticket_user.username}} <span>{{ticket.ticket_user.designation}} | {{ticket.ticket_user.technology}}</span></a>
                                        </h2>
                                    </td>
                                    <td>
                                        <h2>{{ticket.ticket_title}}</h2>
                                        <small class="block text-ellipsis"><span class="text-muted text-wrap summary-wrap">{{ticket.ticket_description}}</span></small>
                                    </td>
                                    <td>
                                        <i class="fa fa-dot-circle-o {% if ticket.ticket_priority == 'High' %}text-danger{% elif ticket.ticket_priority == 'Medium' %}text-warning{% else %}text-info{% endif %}"></i> {{ticket.ticket_priority}}
                                    </td>
                                    <td>
                                        <i class="fa fa-dot-circle-o text-info"></i> {{ticket.ticket_status}}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

</div>
<!-- /Page Wrapper -->
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1700);
</script>

{% endblock body %}
