{% extends 'admin/base.html' %}
{% load static %}
{% block body %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="show_message">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome {{user.username}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{project_list.count}}</h3>
                            <span>Projects</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{client_list.count}}</h3>
                            <span>Clients</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{task_list.count}}</h3>
                            <span>Tasks</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <div class="dash-widget-info">
                            <h3>{{users.count}}</h3>
                            <span>Employees</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Clients</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in client_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'AdminClientDetailView' client.id %}"><img class="avatar" alt="Client Profile Photo" src="{{client.client_avatar.url}}"></a>
                                            <a href="{% url 'AdminClientDetailView' client.id %}">{{client.username}} <span>{{client.position}}</span></a>
                                        </h2>
                                    </td>
                                    <td>{{client.email}}</td>
                                    <td>
                                        {% if client.active_status == True %}<i class="fa fa-dot-circle-o text-success"></i> Active {% else %}<i class="fa fa-dot-circle-o text-danger"></i> Inactive {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'AdminClientsView' %}">View all clients</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Recent Projects</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in project_list %}
                                <tr>
                                    <td>
                                        <h2><a href="{% url 'AdminProjectDetailsView' project.id %}">{{project.project_name}}</a>
                                        </h2>
                                        <small class="block text-ellipsis">
                                            <span>1</span> <span class="text-muted">open tasks, </span>
                                            <span>9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" data-toggle="tooltip" role="progressbar"
                                                 style="width: 65%" title="65%"></div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'AdminProjectsView' %}">View all projects</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3     d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title mb-0">Leaves</h3>
                        <h3 class="card-title mb-0">{{new_leaves_list.count}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leaves in new_leaves_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'AdminClientDetailView' leaves.leave_user.id %}"><img class="avatar" alt="Client Profile Photo" src="{{leaves.leave_user.avatar.url}}"></a>
                                            <a href="{% url 'AdminClientDetailView' leaves.leave_user.id %}">{{leaves.leave_user.username}} <span>{{leaves.leave_user.designation}} | {{leaves.leave_user.technology}}</span></a>
                                        </h2>
                                    </td>
                                    <td class="text-right">
                                        <i class="fa fa-dot-circle-o text-info"></i> {{leaves.leave_status}}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'AdminLeaveList' %}">View all leaves</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Recent Projects</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in project_list %}
                                <tr>
                                    <td>
                                        <h2><a href="{% url 'AdminProjectDetailsView' project.id %}">{{project.project_name}}</a>
                                        </h2>
                                        <small class="block text-ellipsis">
                                            <span>1</span> <span class="text-muted">open tasks, </span>
                                            <span>9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" data-toggle="tooltip" role="progressbar"
                                                 style="width: 65%" title="65%"></div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'AdminProjectsView' %}">View all leaves</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Statistics Widget -->
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h4 class="card-title">Today Absent <span class="badge bg-inverse-danger ml-2">5</span></h4>
                        <div class="leave-info-box">
                            <div class="media align-items-center">
                                <a class="avatar" href="profile.html"><img alt="" src="assets/img/user.jpg"></a>
                                <div class="media-body">
                                    <div class="text-sm my-0">Martin Lewis</div>
                                </div>
                            </div>
                            <div class="row align-items-center mt-3">
                                <div class="col-6">
                                    <h6 class="mb-0">4 Sep 2019</h6>
                                    <span class="text-sm text-muted">Leave Date</span>
                                </div>
                                <div class="col-6 text-right">
                                    <span class="badge bg-inverse-danger">Pending</span>
                                </div>
                            </div>
                        </div>
                        <div class="leave-info-box">
                            <div class="media align-items-center">
                                <a class="avatar" href="profile.html"><img alt="" src="assets/img/user.jpg"></a>
                                <div class="media-body">
                                    <div class="text-sm my-0">Martin Lewis</div>
                                </div>
                            </div>
                            <div class="row align-items-center mt-3">
                                <div class="col-6">
                                    <h6 class="mb-0">4 Sep 2019</h6>
                                    <span class="text-sm text-muted">Leave Date</span>
                                </div>
                                <div class="col-6 text-right">
                                    <span class="badge bg-inverse-success">Approved</span>
                                </div>
                            </div>
                        </div>
                        <div class="load-more text-center">
                            <a class="text-dark" href="javascript:void(0);">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Statistics Widget -->
    </div>
    <!-- /Page Content -->

</div>
<!-- /Page Wrapper -->
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1700);
</script>

{% endblock body %}
