{% extends 'admin/base.html' %}
{% load static %}
{% block head %}

<style>
.uploaded-img {
    position: relative;
}

.uploaded-img .hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(77, 77, 77, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.uploaded-img:hover .hover-text {
    opacity: 1;
}



</style>

{% endblock head %}FR
{% block body %}

			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
					{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
					{% endfor %}
        		</div>
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">{{projectdetailview.project_name}}</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Project</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button class="btn add-btn" onclick="editProject({{projectdetailview.id}})"><i class="las la-lg la-edit"></i> Edit Project</button>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="project-title">
										<h5 class="card-title">{{projectdetailview.project_name}}</h5>
										<small class="block text-ellipsis m-b-15"><span class="text-xs">2</span> <span class="text-muted">open tasks, </span><span class="text-xs">5</span> <span class="text-muted">tasks completed</span></small>
									</div>
									<p>{{projectdetailview.project_summary}}</p>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<button class="edit-icon ml-2" onclick="addProjectImages({{projectdetailview.id}})"><i class="fa fa-plus"></i></button>
				                    <h5 class="card-title m-b-20">Uploaded image files</h5>
									<div class="row" style="overflow-x: scroll; flex-wrap:nowrap">
										{% for image in project_images %}
										<div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
											<div class="uploaded-box">
												<div class="uploaded-img">
													<img src="{{image.project_image.url}}" alt="" style="width:100%; height:10rem">
													<div class="hover-text">
														<button class="btn text-white" onclick="deleteProjectImage({{image.id}}, {{projectdetailview.id}})">Delete</button>
													</div>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<button class="edit-icon ml-2" onclick="addProjectFile({{projectdetailview.id}})"><i class="fa fa-plus"></i></button>
									<h5 class="card-title m-b-20">Uploaded files</h5>
									<ul class="files-list" style="overflow-y: scroll; max-height: 10rem;">
										{% for file in project_files %}
										<li class="p-0">
											<div class="d-flex">
												<span class="icon"><i class="las la-file la-2x"></i></span>
												<span class="pt-1 ml-2">{{file.project_file|cut:'project_files/'}}</span>
												<span class="ml-auto">
													<a class="btn" href="{{file.project_file.url}}"><i class="las la-download la-lg"></i></a>
													<button class="btn text-danger" onclick="deleteProjectFile({{file.id}},{{projectdetailview.id	}})"><i class="las la-trash la-lg"></i></button>
												</span>

											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="project-task">
								<ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
									<li class="nav-item"><a class="nav-link active" href="#all_tasks" data-toggle="tab" aria-expanded="true">All Tasks</a></li>
									<li class="nav-item"><a class="nav-link" href="#pending_tasks" data-toggle="tab" aria-expanded="false">Pending Tasks</a></li>
									<li class="nav-item"><a class="nav-link" href="#completed_tasks" data-toggle="tab" aria-expanded="false">Completed Tasks</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane show active" id="all_tasks">
										<div class="task-wrapper">
											<div class="task-list-container">
												<div class="task-list-body">
													<ul id="task-list">
														{% for x in task_list %}
														<li class="task">
															<div class="task-container">
																<span class="task-action-btn task-check">
																	<span class="action-circle large complete-btn" title="Mark Complete">
																		<i class="material-icons">check</i>
																	</span>
																</span>
																<span class="task-label">{{x.task_title}}</span>
																<span class="task-action-btn task-btn-right">
																	<span class="action-circle large" title="Assign">
																		<form action="" method="post">
																		{% csrf_token %}
																			<a href="#" data-toggle="modal" data-target="#assignee" title="fake"><i class="material-icons">person_add</i></a>
																		</form>
																	</span>
																	<span class="action-circle large delete-btn" title="Delete Task">
																		<i class="material-icons">delete</i>
																	</span>
																</span>
															</div>
														</li>
														{% endfor %}
													</ul>
												</div>
												<div class="task-list-footer">
													<div class="new-task-wrapper">
														<textarea  id="new-task" placeholder="Enter new task here. . ."></textarea>
														<span class="error-message hidden">You need to enter a task first</span>
														<span class="add-new-task-btn btn" id="add-task">Add Task</span>
														<span class="btn" id="close-task-panel">Close</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="pending_tasks"></div>
									<div class="tab-pane" id="completed_tasks"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-xl-3">
							<div class="card">
								<div class="card-body">
									<h6 class="card-title m-b-15">Project details</h6>
									<table class="table table-striped table-border">
										<tbody>
											<tr>
												<td>Cost:</td>
												<td class="text-right">{{projectdetailview.project_cost}}</td>
											</tr>
											<tr>
												<td>Created:</td>
												<td class="text-right">{{projectdetailview.project_start_date|date:'j  M , Y'}}</td>
											</tr>
											<tr>
												<td>Deadline:</td>
												<td class="text-right">{{projectdetailview.project_end_date|date:'j  M , Y'}}</td>
											</tr>
											<tr>
												<td>Priority:</td>
												<td class="text-right">{{projectdetailview.project_priority}}</td>
											</tr>
											<tr>
												<td>Created by:</td>
												<td class="text-right"><a href="profile.html">{{projectdetailview.project_client_name}}</a></td>
											</tr>
											<tr>
												<td>Status:</td>
												<td class="text-right">{{projectdetailview.project_status}}</td>
											</tr>
										</tbody>
									</table>
<!--									<p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>-->
<!--									<div class="progress progress-xs mb-0">-->
<!--										<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="40%" style="width: 40%"></div>-->
<!--									</div>-->
								</div>
							</div>
							<div class="mb-2">
							<button class="form-control btn btn-primary btn-sm" onclick="addProjectAssignee({{projectdetailview.id}})"><i class="fa fa-plus"></i> Add Project Assinee</button>
							</div>
							<div class="card project-user">
								<div class="card-body">
									<h6 class="card-title m-b-20">Assigned Leader</h6>
									<ul class="list-box">
										{% for project_leader in project_leader_list %}
											{% for employee in project_leader.employees.all %}
												<li>
													<div class="list-item">
														<a href="{% url 'AdminProfileView' employee.id %}">
															<div class="list-left">
																<img class="avatar" alt="Employee Profile Photo" src="{{employee.avatar.url}}">
															</div>
															<div class="list-body">
																<span class="message-author">{{employee}}</span>
																<div class="clearfix"></div>
																<span class="message-content text-secondary">{{employee.department}} | {{employee.designation}} | {{employee.technology}}</span>
															</div>
														</a>
														<div class="dropdown profile-action">
															<button class="dropdown-item px-1 py-0 rounded d-sm-block text-center text-danger" onclick="deleteAssignEmployee({{employee.id}}, {{projectdetailview.id}})"><i class="las la-lg la-trash"></i></button>
														</div>
													</div>
												</li>
											{% endfor %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="card project-user">
								<div class="card-body">
									<h6 class="card-title m-b-20">Assigned users</h6>
									<ul class="list-box">
										{% for project_team_member in project_team_member_list %}
											{% for employee in project_team_member.employees.all %}
												<li>
													<div class="list-item">
														<a href="{% url 'AdminProfileView' employee.id %}">
															<div class="list-left">
																<img class="avatar" alt="" src="{{employee.avatar.url}}">
															</div>
															<div class="list-body">
																<span class="message-author">{{employee}}</span>
																<div class="clearfix"></div>
																<span class="message-content text-secondary">{{employee.department}} | {{employee.designation}} | {{employee.technology}}</span>
															</div>
														</a>
														<div class="dropdown profile-action">
															<button class="dropdown-item px-1 py-0 rounded d-sm-block text-center text-danger" onclick="deleteAssignEmployee({{employee.id}},{{projectdetailview.id}})"><i class="las la-lg la-trash"></i></button>
														</div>
													</div>
												</li>
											{% endfor %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

				<div id="add-project-assignee-form"></div>

				<div id="add-project-image-model"></div>

				<div id="add-project-file-model"></div>

				<div id="edit-project-form"></div>

				<!-- Delete Employee Modal -->
				<div class="modal custom-modal fade" id="delete_model" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a id="confirmDeleteBtn" href="#" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="#" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Employee Modal -->
				
            </div>
			<!-- /Page Wrapper -->

<script>

function editProject(editProjectId) {
    $.ajax({
        url: "{% url 'AdminUpdateProject' id=0 %}".replace(0, editProjectId),
        success: function(response) {
            $("#edit-project-form").html(response);
            $("#edit_project_model").modal('show');
        }
    });
}

function addProjectImages(ProjectId) {
    $.ajax({
        url: "{% url 'AdminAddProjectImage' id=0 %}".replace(0, ProjectId),
        success: function(response) {
            $("#add-project-image-model").html(response);
            $("#add_project_image_model").modal('show');
        }
    });
}

function addProjectFile(ProjectId) {
    $.ajax({
        url: "{% url 'AdminAddProjectFile' id=0 %}".replace(0, ProjectId),
        success: function(response) {
            $("#add-project-file-model").html(response);
            $("#add_project_file_model").modal('show');
        }
    });
}

function addProjectAssignee(addAssigneeProjectId) {
    $.ajax({
        url: "{% url 'AdminAddProjectAssignee' id=0 %}".replace(0, addAssigneeProjectId),
        success: function(response) {
            $("#add-project-assignee-form").html(response);
			$("#add_project_assignee_model").modal('show');
        }
    });
}

function deleteProjectImage(deleteId, ProjectId) {
    $("#delete_model").modal('show');
    if (deleteId) {
        var deleteUrl = "{% url 'AdminDeleteProjectImage' id=0 project_id=1 %}".replace(0, deleteId).replace(1, ProjectId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}

function deleteProjectFile(deleteId, ProjectId) {
    $("#delete_model").modal('show');
    if (deleteId) {
        var deleteUrl = "{% url 'AdminDeleteProjectFile' id=0 project_id=1 %}".replace(0, deleteId).replace(1, ProjectId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}

function deleteAssignEmployee(deleteAssignEmployeeId, ProjectId) {
    $("#delete_model").modal('show');
    if (deleteAssignEmployeeId) {
        var deleteUrl = "{% url 'AdminDeleteAssignEmployee' id=0 project_id=1 %}".replace(0, deleteAssignEmployeeId).replace(1, ProjectId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}
</script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1600);
</script>

{% endblock body %}