{% extends 'admin/base.html' %}
{% load static %}
{% block head %}

<style>
    .summary-wrap {
        overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 4;
               line-clamp: 4;
       -webkit-box-orient: vertical;
    }


</style>

{% endblock head %}
{% block nav %}{% include 'admin/navigationpanel.html' %}{% endblock nav %}
{% block body %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="show_message">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Projects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'AdminIndex' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <button class="btn add-btn" onclick="addProject()"><i class="fa fa-plus"></i> Add Project</button>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row d-flex justify-content-end">
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus ">
                    <input type="text" class="form-control floating" id="project_name_search">
                    <label class="focus-label">Project Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus ">
                    <input type="text" class="form-control floating" id="client_name_search">
                    <label class="focus-label">Client Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus">
                    <select class="form-control floating" id="project_priority_search">
                        <option value="">------</option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                    <label class="focus-label">Project Priority</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus">
                    <select class="form-control floating" id="project_status_search">
                        <option value="">-------</option>
                        <option>On Track</option>
                        <option>Postponed</option>
                        <option>Finished</option>
                        <option>Not Started</option>
                    </select>
                    <label class="focus-label">Project Status</label>
                </div>
            </div>
        </div>
        <!-- /Search Filter -->

        <!-- /Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table" id="project_list_table">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Client Name</th>
                                <th>Project Assignee</th>
                                <th>Deadline</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for project in projectlist %}
                        <tr>
                            <td><h2><a href="{% url 'AdminProjectDetailsView' project.id %}">{{project.project_name}}</a></h2></td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="{% url 'AdminClientDetailView' project.project_client_name.id %}"><img class="avatar" alt="" src="{{project.project_client_name.client_avatar.url}}"></a>
                                    <a href="{% url 'AdminClientDetailView' project.project_client_name.id %}">{{project.project_client_name}} <span>{{project.project_client_name.company_name}} | {{project.project_client_name.position}}</span></a>
                                </h2>
                            </td>
                            <td>
                                {% for project_leader in project_assignee_list %}
                                    {% if project_leader.project_name == project %}
                                        {% for employee in project_leader.employees.all %}
                                            <div class="avatar-group">
                                                <div class="avatar">
                                                    <img class="avatar-img rounded-circle border border-white" alt="User Image" src="{{employee.avatar.url}}" data-toggle="tooltip" title="{{employee.username}}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{project.project_end_date|date:'d - M - Y'}}</td>
                            <td><i class="fa fa-dot-circle-o {% if project.project_priority == 'High' %}text-danger{% elif project.project_priority == 'Low' %}text-success{% else %}text-warning{% endif %} mr-1"></i> {{project.project_priority}}</td>
                            <td><i class="fa fa-dot-circle-o {% if project.project_status == 'Not Started' %}text-danger{% elif project.project_status == 'Finished' %}text-success{% elif project.project_status == 'Postponed' %}text-warning{% else %}text-info{% endif %} mr-1"></i> {{project.project_status}}</td>
                            <td class="text-right">
                                <button class="btn text-danger" onclick="deleteProject({{project.id}})">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <div id="add-project-form"></div>

    <!-- Delete Project Modal -->
    <div class="modal custom-modal fade" id="delete_project_model" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Project</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-primary continue-btn" href="#" id="confirmDeleteBtn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-primary cancel-btn" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Project Modal -->

</div>
<!-- /Page Wrapper -->

<script>
    function addProject() {
        $.ajax({
            url: "{% url 'AdminAddProjects' %}",
            success: function(response) {
                $("#add-project-form").html(response);
                $("#add_project_model").modal('show');
            }
        });
    }
    function deleteProject(deleteProjectId) {
        $("#delete_project_model").modal('show');
        if (deleteProjectId) {
            var deleteUrl = "{% url 'AdminDeleteProject' id=0 %}".replace(0, deleteProjectId);
            $("#confirmDeleteBtn").attr("href", deleteUrl);
        }
    }

</script>
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var table = $('#project_list_table').DataTable({
            dom: 'Blrtip',
        });
         $('#project_name_search').on('keyup', function () {
            table.column(0).search(this.value).draw();
        });
         $('#client_name_search').on('keyup', function () {
            table.column(1).search(this.value).draw();
        });
         $('#project_priority_search').on('change', function () {
            table.column(4).search(this.value).draw();
        });
         $('#project_status_search').on('change', function () {
            table.column(5).search(this.value).draw();
        });
    });


    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1700);
</script>

{% endblock body %}