<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <meta content="Smarthr - Bootstrap Admin Template" name="description">
    <meta content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects"
          name="keywords">
    <meta content="Dreamguys - Bootstrap Admin Template" name="author">
    <meta content="noindex, nofollow" name="robots">
    <title>Login - Webmigrates Admin</title>

    <!-- Favicon -->
    <link href="{% static 'img/logo.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fontawesome CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Lineawesome CSS -->
    <link href="{% static 'css/line-awesome.min.css' %}" rel="stylesheet">

    <!-- Chart CSS -->
    <link href="{% static 'plugins/morris/morris.css' %}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Datatable CSS employee list -->
    <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- Select2 CSS employee -->
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">

    <!-- Datetimepicker CSS employee -->
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <!-- Summernote CSS -->
    <link href="{% static 'plugins/summernote/dist/summernote-bs4.css' %}" rel="stylesheet">

    <!-- Tagsinput CSS profile-->
    <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js"' %}></script>
    <![endif]-->
</head>
<body>
    <div style="margin-top:10rem;" class="text-center">
        <h1 class="text-primary display-2">Webmigrates</h1>
        <h2 class="text-secondary display-4 mt-5">Hello, {{interviewer_details.name}}</h2>
        <h2 class="text-secondary display-4 mt-5">Quiz link was expired. Contact our management team.</h2>
    </div>


<!-- jQuery -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

<!-- Select2 JS employee-->
<script src="{% static 'js/select2.min.js' %}"></script>

<!-- Datetimepicker JS employee -->
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Tagsinput JS -->
<script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>

<!-- Datatable JS -->
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Task JS -->
<script src="{% static 'js/task.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

<!-- Summernote JS -->
<script src="{% static 'plugins/summernote/dist/summernote-bs4.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/app.js' %}"></script>


<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 1700);
</script>

</body>
</html>