{% extends 'admin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu">
            <ul>
                <li><a href="{% url 'AdminIndex' %}"><i class="la la-home"></i><span>Back to home</span></a></li>
                <li class="menu-title">Projects</li>
                {% for project in projectlist %}
                    {% if project.id == project_id %}
                        <li><a href="{% url 'AdminProjectTaskList' project.id %}" class="text-white"><span>{{project.project_name}}</span></a></li>
                    {% else %}
                        <li><a href="{% url 'AdminProjectTaskList' project.id %}"><span>{{project.project_name}}</span></a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
<!-- /Sidebar -->

<!-- Page Wrapper -->

    <div class="page-wrapper">
        <div class="show_message">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}hi</div>
            {% endfor %}
        </div>
        <div class="chat-main-row">
            <div class="chat-main-wrapper">
                <div class="col-lg-7 message-view task-view task-left-sidebar">
                    <div class="chat-window">
                        {% if project_tasklist %}
                        <div class="fixed-header">
                            <div class="navbar">
                                <div class="add-task-btn-wrapper float-left mr-auto">
                                    <button class="add-task-btn btn btn-white btn-sm" onclick="addTask({{project_id}})"><i class="las la-plus"></i> <span>Add Task</span></button>
                                </div>
                                <ul class="nav custom-menu float-right">
                                    <li class="nav-item dropdown dropdown-action">
                                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown"
                                           href="#"><i class="fa fa-cog"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0)">Pending Tasks</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Completed Tasks</a>
                                            <a class="dropdown-item" href="javascript:void(0)">All Tasks</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="show_message">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                        <div class="chat-contents">
                            <div class="chat-content-wrap">
                                <div class="chat-wrap-inner">
                                    <div class="chat-box">
                                        <div class="task-wrapper">
                                            <div class="task-list-container">




                                                <div class="task-list-body">
                                                    <ul id="task-list">
                                                        {% for task_list in project_tasklist %}
                                                        <li class="task">
                                                            <div class="task-container">
                                                                <span class="task-label">{{task_list.task_title}}</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <button class="border border-success rounded-circle px-1 mx-1 text-success"
                                                                            onclick="viewTaskAssignee({{task_list.id}})"
                                                                            title="View Task Assignee"><i class="las la-eye"></i></button>
                                                                    <button class="border border-info rounded-circle px-1 mx-1 text-info"
                                                                            onclick="addTaskAssign({{task_list.id}})"
                                                                            title="Task Assign"><i
                                                                            class="las la-user-plus"></i></button>
                                                                    <button class="border border-dark rounded-circle px-1 mx-1 text-dark"
                                                                            onclick="editTask({{task_list.id}},{{project_id}})"
                                                                            title="Edit Task"><i
                                                                            class="las la-edit"></i></button>
                                                                    <button class="border border-danger rounded-circle px-1 mx-1 text-danger"
                                                                            onclick="deleteTask({{task_list.id}},{{project_id}})"
                                                                            title="Delete Task"><i
                                                                            class="fa fa-trash"></i></button>
                                                                </span>
                                                            </div>
                                                            <ul id="assignee_details_{{ task_list.id }}" class="mb-3" style="display: none;">
                                                                {% for assignee in task_assignee %}
                                                                {% if assignee.task_name.id == task_list.id %}
                                                                    {% for employee in assignee.employees.all %}
                                                                        <li class="d-flex justify-content-between my-2 border-bottom">
                                                                            <div>
                                                                                <a href="" class="text-dark"><img class="avatar" alt="" src="{{employee.avatar.url}}"></a>
                                                                                <a href="" class="text-dark">{{employee}}| <span>{{employee.department}} | {{employee.designation}} . {{employee.technology}}</span></a>
                                                                            </div>
                                                                            <div class="mx-5 align-self-center ">
                                                                                <button class="border-0 text-danger" onclick="deleteAssignee({{employee.id}},{{task_list.id}})">Remove</button>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                                <div id="add-task-assignee-model"></div>
                                                <div id="add-task-form"></div>
                                                <div id="edit-task-form"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Employee Modal -->
    <div class="modal custom-modal fade" id="delete_model" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete</h3>
                        <p>Are you sure want to remove assignee?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a id="confirmDeleteBtn" href="#" class="btn btn-primary continue-btn">Remove</a>
                            </div>
                            <div class="col-6">
                                <a href="#" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Employee Modal -->


<!-- /Page Wrapper -->


<script>
    function addTaskAssign(TaskId) {
        $.ajax({
            url: "{% url 'AdminAddTaskAssign' id=0 %}".replace(0, TaskId),
            success: function(response) {
                $("#add-task-assignee-model").html(response);
                $("#add_task_assignee_model").modal('show');
            }
        });

    }

    function addTask(ProjectId) {
        $.ajax({
            url: "{% url 'AdminAddProjectTask' id=0 %}".replace(0, ProjectId),
            success: function(response) {
                $("#add-task-form").html(response);
                $("#add_task_model").modal('show');
            }
        });

    }

    function editTask(editTaskId, ProjectId) {
        $.ajax({
            url: "{% url 'AdminEditProjectTask' id=0 projectid=1 %}".replace(0, editTaskId).replace(1, ProjectId),
            success: function(response) {
                $("#edit-task-form").html(response);
                $("#edit_task_model").modal('show');
            }
        });
    }

    function deleteTask(deleteTaskId, ProjectId) {
        $.ajax({
            url: "{% url 'AdminDeleteProjectTask' id=0 projectid=1 %}".replace(0, deleteTaskId).replace(1,ProjectId),
            success: function() {
                location.reload();
            }
        });
    }

    function deleteAssignee(deleteAssigneeId, TaskId) {
        $("#delete_model").modal('show');
        if (deleteAssignee) {
            var deleteUrl = "{% url 'AdminDeleteTaskAssignee' id=0 task_id=1 %}".replace(0, deleteAssigneeId).replace(1, TaskId);
            $("#confirmDeleteBtn").attr("href", deleteUrl);
        }
    }


</script>
<script>
    function viewTaskAssignee(taskId) {
        var assigneeDetails = document.getElementById('assignee_details_' + taskId);
        if (assigneeDetails.style.display === 'none') {
            assigneeDetails.style.display = 'block';
        } else {
            assigneeDetails.style.display = 'none';
        }
    }

    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1700);
</script>

{% endblock body %}