{% load crispy_forms_tags %}
{% load static %}

<!-- Add Leave Modal -->
<div id="add_leave_model" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="addModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Leave</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'EmpAddLeaves' user.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.leave_type|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.leave_from|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.leave_to|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.leave_days|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.leave_reason|as_crispy_field }}
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->