{% load crispy_forms_tags %}
{% load static %}

<!-- Add Group Chat Modal -->
<div id="add_group_members" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="addModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Group</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'AddEmpGroupMember' id=group_id.id %}" method="post" id="form" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.member|as_crispy_field }}
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add Group Chat Modal -->