<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HRMS : Password Reset</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body style="margin:auto; width:50rem;">
<table style=" margin:1rem auto;">
    <tr style="color: #fff9e6; font-size:1.8rem">
        <td style="text-align:center; padding:1rem 1.5rem;"><h1 style="color:#FF7517;">Webmigrates</h1></td>
    </tr>
    <tr>
        <td style="text-align:center; color:#2C2727"><h1>FORGOT PASSWORD</h1></td>
    </tr>
    <tr>
        <td style="text-align:center; color:#2C2727"><h3>Hello, <strong>{{username}}</strong>{{user_id}}.</h3></td>
    </tr>
    <tr>
        <td style="text-align:center; color:#2C2727;"><h4 style="margin:2rem 4rem;">You recently requested to reset the password for your account. Click the button below to proceed. If you did not request a password reset, please ignore this email or reply to let us know.</h4></td>
    </tr>
    <tr>
        <td style="text-align:center; color:#F6F4F4; padding:1rem 0rem;">
            <a href="http://127.0.0.1:8000/hrms/employee/emp-password-reset/{{ user_id }}" style="background-color:#3E3939; border:0; padding:1rem 5rem; border-radius: 8rem; text-decoration:none; color:#F6F4F4" title="{{ username }}">Forgot Password</a>
        </td>
    </tr>
    <tr>
        <td style="color:#2C2727;"><h4 style="margin:4rem">The Webmigrates Team.</h4></td>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
