{% extends 'employee/base.html' %}
{% load static %}
{% block body %}

			<!-- Page Wrapper -->
            <div class="page-wrapper">
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
				{% endfor %}
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Leaves</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Leaves</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button class="btn add-btn" onclick="addLeave({{user.id}})"><i class="fa fa-plus"></i> Add Leave</button>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Leave Statistics -->
					<div class="row">
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Annual Leave</h6>
								<h4>12</h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Medical Leave</h6>
								<h4>3</h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Other Leave</h6>
								<h4>4</h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Remaining Leave</h6>
								<h4>5</h4>
							</div>
						</div>
					</div>
					<!-- /Leave Statistics -->

				<!-- /Page Content -->
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>Leave Type</th>
											<th>From</th>
											<th>To</th>
											<th>No of Days</th>
											<th>Reason</th>
											<th class="text-center">Status</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for leave in leave_list %}
										<tr>
											<td>{{leave.leave_type}}</td>
											<td>{{leave.leave_from|date:"j - M - Y"}}</td>
											<td>{{leave.leave_to|date:"j - M - Y"}}</td>
											<td>{{leave.leave_days}}  Days</td>
											<td>{{leave.leave_reason}}</td>
											<td class="text-center">
												<div class="action-label">
													<a class="border rounded-pill p-1 text-dark">{{leave.leave_status}}</a>
												</div>
											</td>

											<td class="text-right">
												<div class="d-flex justify-content-end">
													<button class="p-0 ml-4 text-info border-0 " onclick="editLeave({{leave.id}},{{user.id}})">Edit</button>
													<button class="p-0 ml-4 text-danger border-0 " onclick="deleteLeave({{leave.id}})">Delete</button>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<div id="add-leave-form"></div>
				
				<div id="edit-leave-form"></div>
				
				<!-- Delete Leave Modal -->
				<div class="modal custom-modal fade" id="delete_leave_model" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Leave</h3>
									<p>Are you sure want to Cancel this leave?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a id="confirmDeleteBtn" href="#" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Leave Modal -->
            </div>
			<!-- /Page Wrapper -->

<script>
function addLeave(UserId) {
    $.ajax({
        url: "{% url 'EmpAddLeaves' id=0 %}".replace(0, UserId),
        success: function(response) {
            $("#add-leave-form").html(response);
            $("#add_leave_model").modal('show');
        }
    });
}
function editLeave(editLeaveId, UserId) {
    $.ajax({
        url: "{% url 'EmpEditLeave' id=0 userid=1 %}".replace(0, editLeaveId).replace(1,UserId),
        success: function(response) {
            $("#edit-leave-form").html(response);
            $("#edit_leave_model").modal('show');
        }
    });
}

function deleteLeave(deleteLeaveId) {
    $("#delete_leave_model").modal('show');
    if (deleteLeaveId) {
        var deleteUrl = "{% url 'EmpDeleteLeave' id=0 %}".replace(0, deleteLeaveId);
        $("#confirmDeleteBtn").attr("href", deleteUrl);
    }
}

</script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1600);
</script>

{% endblock body %}