{% extends 'employee/base.html' %}
{% load static %}
{% block body %}
{% block nav %}{% include 'employee/navigationpanel.html' %}{% endblock nav %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
				{% endfor %}
        	</div>

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Policies</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'EmployeeIndex' %}">Dashboard</a></li>
									<li class="breadcrumb-item active">Policies</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0">
									<thead>
										<tr>
											<th>Sr NO</th>
											<th>Policy Name </th>
											<th>Department</th>
											<th>Created Date</th>
											<th>File</th>
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for policy in policies %}
										<tr class="holiday-upcoming">
											<td>{{forloop.counter}}</td>
											<td>{{policy.policy_name}}</td>
											<td>{{policy.policy_department}}</td>
											<td>{{policy.policy_create_date|date:"j - F - Y"}}</td>
											<td>{{policy.policy_file|cut:'policies/'}}</td>
											<td class="text-right">
												<div class="d-flex justify-content-end">
													<a class="p-0 ml-4 text-info border-0 " href="{{policy.policy_file.url}}">Download</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
            </div>
			<!-- /Page Wrapper -->
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1700);
</script>

{% endblock body %}
