{% extends 'employee/base.html' %}
{% load static %}
{% block body %}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<div class="show_message">
					{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
					{% endfor %}
        		</div>
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">{{projectdetailview.project_name}}</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Project</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<div class="project-title">
										<h5 class="card-title">{{projectdetailview.project_name}}</h5>
										<small class="block text-ellipsis m-b-15"><span class="text-xs">2</span> <span class="text-muted">open tasks, </span><span class="text-xs">5</span> <span class="text-muted">tasks completed</span></small>
									</div>
									<p>{{projectdetailview.project_summary}}</p>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
				                    <h5 class="card-title m-b-20">Uploaded image files</h5>
									<div class="row" style="overflow-x: scroll; flex-wrap:nowrap">
										{% for image in project_images %}
										<div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
											<div class="uploaded-box">
												<div class="uploaded-img">
													<img src="{{image.project_image.url}}" alt="" style="width:100%; height:10rem">
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<h5 class="card-title m-b-20">Uploaded files</h5>
									<ul class="files-list">
										{% for file in project_files %}
										<li class="p-0">
											<div class="d-flex">
												<span class="icon"><i class="las la-file la-2x"></i></span>
												<span class="pt-1 ml-2">{{file.project_file|cut:'project_files/'}}</span>
												<span class="ml-auto">
													<a class="btn" href="{{file.project_file.url}}"><i class="las la-download la-lg"></i></a>
												</span>

											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="project-task">
								<ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
									<li class="nav-item"><a class="nav-link active" href="#all_tasks" data-toggle="tab" aria-expanded="true">All Tasks</a></li>
									<li class="nav-item"><a class="nav-link" href="#pending_tasks" data-toggle="tab" aria-expanded="false">Pending Tasks</a></li>
									<li class="nav-item"><a class="nav-link" href="#completed_tasks" data-toggle="tab" aria-expanded="false">Completed Tasks</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane show active" id="all_tasks">
										<div class="task-wrapper">
											<div class="task-list-container">
												<div class="task-list-body">
													<ul id="task-list">
														{% for task in task_list %}
														<li class="task">
															<div class="task-container">
																<span class="task-action-btn task-check">
																	<span class="action-circle large complete-btn" title="Mark Complete">
																		<i class="material-icons">check</i>
																	</span>
																</span>
																<span class="task-label">{{task.task_title}}</span>
															</div>
														</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="pending_tasks"></div>
									<div class="tab-pane" id="completed_tasks"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-xl-3">
							<div class="card">
								<div class="card-body">
									<h6 class="card-title m-b-15">Project details</h6>
									<table class="table table-striped table-border">
										<tbody>
											<tr>
												<td>Cost:</td>
												<td class="text-right">{{projectdetailview.project_cost}}</td>
											</tr>
											<tr>
												<td>Created:</td>
												<td class="text-right">{{projectdetailview.project_start_date|date:'j  M , Y'}}</td>
											</tr>
											<tr>
												<td>Deadline:</td>
												<td class="text-right">{{projectdetailview.project_end_date|date:'j  M , Y'}}</td>
											</tr>
											<tr>
												<td>Priority:</td>
												<td class="text-right">{{projectdetailview.project_priority}}</td>
											</tr>
											<tr>
												<td>Created by:</td>
												<td class="text-right"><a href="profile.html">{{projectdetailview.project_client_name}}</a></td>
											</tr>
											<tr>
												<td>Status:</td>
												<td class="text-right">{{projectdetailview.project_status}}</td>
											</tr>
										</tbody>
									</table>
<!--									<p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>-->
<!--									<div class="progress progress-xs mb-0">-->
<!--										<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="40%" style="width: 40%"></div>-->
<!--									</div>-->
								</div>
							</div>
							<div class="card project-user">
								<div class="card-body">
									<h6 class="card-title m-b-20">Assigned Leader</h6>
									<ul class="list-box">
										{% for project_leader in project_leader_list %}
											{% for employee in project_leader.employees.all %}
												<li>
													<a href="profile.html">
														<div class="list-item">
															<div class="list-left">
																<img class="avatar" alt="" src="{{employee.avatar.url}}">
															</div>
															<div class="list-body">
																<span class="message-author">{{employee}}</span>
																<div class="clearfix"></div>
																<span class="message-content text-secondary">{{employee.department}} | {{employee.designation}} | {{employee.technology}}</span>
															</div>
														</div>
													</a>
												</li>
											{% endfor %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="card project-user">
								<div class="card-body">
									<h6 class="card-title m-b-20">Assigned users</h6>
									<ul class="list-box">
										{% for project_team_member in project_team_member_list %}
											{% for employee in project_team_member.employees.all %}
												<li>
													<a href="profile.html">
														<div class="list-item">
															<div class="list-left">
																<img class="avatar" alt="" src="{{employee.avatar.url}}">
															</div>
															<div class="list-body">
																<span class="message-author">{{employee}}</span>
																<div class="clearfix"></div>
																<span class="message-content text-secondary">{{employee.department}} | {{employee.designation}} | {{employee.technology}}</span>
															</div>
														</div>
													</a>
												</li>
											{% endfor %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

				<div id="add-project-assignee-form"></div>

				<div id="edit-project-form"></div>
				
            </div>
			<!-- /Page Wrapper -->

<script>

function editProject(editProjectId) {
    $.ajax({
        url: "{% url 'AdminUpdateProject' id=0 %}".replace(0, editProjectId),
        success: function(response) {
            $("#edit-project-form").html(response);
            $("#edit_project_model").modal('show');
        }
    });
}

function addProjectAssignee(addAssigneeProjectId) {
    $.ajax({
        url: "{% url 'AdminAddProjectAssignee' id=0 %}".replace(0, addAssigneeProjectId),
        success: function(response) {
            $("#add-project-assignee-form").html(response);
			$("#add_project_assignee_model").modal('show');
        }
    });
}
</script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1600);
</script>

{% endblock body %}