{% extends 'employee/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu">
            <ul>
                <li><a href="{% url 'EmployeeIndex'%}"><i class="las la-home"></i><span>Back to Home</span></a></li>
                <li class="menu-title">Projects</li>
                {% for project in project_list %}
                    {% if project.project_name.id == project_id.id %}
                        <li><a href="{% url 'EmpProjectTaskList' id=project.project_name.id user_id=user.id %}" class="text-white"><span>{{project.project_name}}</span></a></li>
                    {% else %}
                        <li><a href="{% url 'EmpProjectTaskList' id=project.project_name.id user_id=user.id %}"><span>{{project.project_name}}</span></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->

<!-- Page Wrapper -->

    <div class="page-wrapper">

        {% if new_task_list %}
        <div class="chat-main-row">
            <div class="chat-main-wrapper">
                <div class="col-lg-7 message-view task-view task-left-sidebar">
                    <div class="chat-window">

                        <!-- Search Filter -->
                        <div class="row filter-row mt-2 mr-3 d-flex justify-content-between">
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group form-focus select-focus">
                                    <h3 class="ml-3 mt-2">Task List</h3>
                                    <p class="ml-3 text-muted">{{project_id}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group form-focus select-focus">
                                    <select class="form-control floating" id="task_status_search">
                                        <option value="">----</option>
                                        <option value="New">New</option>
                                        <option value="Working">Working</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Complete">Complete</option>
                                    </select>
                                    <label class="focus-label">Task Status</label>
                                </div>
                            </div>
                        </div>
                        <!-- /Search Filter -->
                        <div class="show_message">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>

                        <div class="chat-contents">
                            <div class="chat-content-wrap">
                                <div class="chat-wrap-inner">
                                    <div class="chat-box">
                                        <div class="task-wrapper">
                                            <div class="task-list-container tab-content">
                                                <div class="table-responsive">
                                                    <table class="table mb-0 w-100" id="task_table">
                                                        <thead hidden>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for task_list in new_task_list %}
                                                            {% if task_list.task_project_name.id == project_id.id %}
                                                            <tr>
                                                                <td hidden>
                                                                    {{task_list.task_name.task_status}}
                                                                </td>
                                                                <td>
                                                                    <span class="la-lg">&#x2022;</span><span class="text-muted mx-3">( {{task_list.task_name.task_status}} )</span><span>{{task_list.task_name.task_title}}</span>
                                                                </td>
                                                                <td class="text-right">
                                                                    <button class="btn mr-2 ml-5 p-0 text-primary text-nowrap" onclick="editTaskStatus({{task_list.task_name.id}})">Update</button>
                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div id="task-status-update-model"></div>
<!-- /Page Wrapper -->


<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function () {
	var table = $('#task_table').DataTable({
		dom: 'Brt',
	});
	$('#task_status_search').on('change', function () {
		table.column(0).search(this.value).draw();
	});
});
</script>

<script>
    function editTaskStatus(TaskId) {
        $.ajax({
            url: "{% url 'EmpEditProjectTaskStatus' id=0 %}".replace(0, TaskId),
            success: function(response) {
                $("#task-status-update-model").html(response);
                $("#task_status_update_model").modal('show');
            }
        });
    }


    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 1700);
</script>

{% endblock body %}